####################
# tmux
####################
[submodule "oh-my-tmux"]
    path = .config/tmux/oh-my-tmux
    url = https://github.com/soyccan/.tmux.git
    branch = soyccan

####################
# gdb
####################
[submodule "gef"]
    path = .local/share/gdb/plugged/gef
    url = https://github.com/hugsy/gef
    shallow = true
[submodule "libheap"]
    path = .local/share/gdb/plugged/libheap
    url = https://github.com/cloudburst/libheap
    shallow = true
[submodule "Pwngdb"]
    path = .local/share/gdb/plugged/Pwngdb
    url = https://github.com/scwuaptx/Pwngdb
    shallow = true
[submodule "pwndbg"]
    path = .local/share/gdb/plugged/pwndbg
    url = https://github.com/pwndbg/pwndbg
    shallow = true
